h1{
    color:red
}

nav{
    background-color: blue;
    display:flex;
    justify-content: space-evenly;
}
.pancake{
    color:transparent;
}
li{
    color:transparent;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:red;
    background-color: white;
}
.order{
    display: flex;
    justify-content: space-evenly;
} 
.Menu{
    margin: 10px;
    display:grid;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px;
} 
.Menu img{
    width: 100%;
    border-radius: 0px 30px;
} 
.image{
  display:flex;
  border-radius: 50px;  
}
.Price button{
    background-color: green;
    margin-bottom: 10px;
    color:white;
    border-radius: 10px;
    width:50%;
}
.Price button:hover{
    background-color: white;
    color:black;
}
footer{
    height: 250px;
    background-color: blue;
}
footer span{
    color: white;
    display: flex;
    justify-content: center;
}
span i{
    margin: 5px;
}
address{
   color:white;
   text-shadow: 1px 1px 1px  black;
}
footer .Copywright{
    color: white;
    text-align: center;
}
@media screen and (max-width:785px) {
   .order{
    display: grid;
    text-align: center;
   }
}
